* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.header {
  background-color: #f6f8fd;
  height: 500px;
  padding-top: 125px;
}
.container {
  width: 100%;
  text-align: center;
}

.done {
  text-decoration: line-through;
  text-decoration-color: #8d8e91;
  -moz-text-decoration-color: #8d8e91;
}

ol {
  list-style-type: none;
}
button {
  font-size: 10px;
  padding: 5px 20px;
  border-radius: 50px;
  color: #ffffff;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  border: 1px solid black;
  background-color: #2447f9;
}

button:hover {
  cursor: pointer;
  box-shadow: 8px 2px 18px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 8px 2px 18px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 8px 22px 18px 0px rgba(0, 0, 0, 0.75);
  transition: 0.2s;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -ms-transition: 0.2s;
  -o-transition: 0.2s;
}

.todo-content {
  margin: auto;
  height: 250px;
  width: 300px;
  border: 1px solid #ffffff;
  background-color: #ffffff;
  border-radius: 10px 20px;
  -webkit-border-radius: 10px 20px;
  -moz-border-radius: 10px 20px;
  -ms-border-radius: 10px 20px;
  -o-border-radius: 10px 20px;
}

input {
  border: none;
  background-color: #e5e9f2;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
}
